.content {
  display: grid;
  /* grid-template-columns:repeat(2,1fr); */
}

.news img {
  height: 250px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header input {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  margin-top: 30px;
  font-size: 1.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgb(209, 215, 218);

}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position:absolute;
  top:50%;
  right:50%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}





* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
 .like-dislike-comment i {
  font-size: 45px;
} 
 

 
.btn-container {
  display: flex;
  flex-direction: 'row';
  align-items: center;
  justify-content: space-evenly;
  /* background-color: rgb(215, 15, 15); */
  padding: 30px 50px;
  border-radius: 12px;
  justify-content: baseline;
}
 
.btn {
  cursor: pointer;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  border: none;
  color:#fff;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap:4px;
  background-color: #57b1b8;
  border-radius: 4px;
  padding: 6px 15px;
  margin: 0 10px;
}
 
.like-active {
  background-color: #15af34;
}
 
.dislike-active {
  background-color: red;
}
.container{
  width: 100px;
  height:100px
}